/*-----------------------------------------------------------------------------------
border-box formatting so padding/margin doesn't effect percentage widths
-----------------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/*-----------------------------------------------------------------------------------
utilities
-----------------------------------------------------------------------------------*/


.clear {
  clear: both;
}

.hide {
  display: none;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 1020px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}

/*-----------------------------------------------------------------------------------
general styling
-----------------------------------------------------------------------------------*/
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 2px;
}

a {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0px;
}

h4 {
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0px;
  padding: 10px 0px 15px;
}

/*-----------------------------------------------------------------------------------
button styling
-----------------------------------------------------------------------------------*/

.button {
  border: 1px solid white;
  padding: 10px;
  color: white;
  background: transparent;
}

.button p {
  margin: 0px;
}

/*-----------------------------------------------------------------------------------
header
-----------------------------------------------------------------------------------*/
.header {
  padding: 0 15px 0px 15px; /* Abbreviated as 0 15px; */
}

.header__logo {
  float: left;
  
  /* Align its top-position with the hamburger (with its newly added border). */
  position: relative;
  top: 10px;
}

.header__logo img {
  width: 100%;

  /* This is around the width of the image on an iPhone 5. Don't let it go smaller than this. */
  min-width: 72px;
}

/*-----------------------------------------------------------------------------------
mobile menu
-----------------------------------------------------------------------------------*/
.hamburger {
  float: right;
  
  /* Creates enough height/space that the header is also well-spaced. */
  padding: 13px 0 8px 15px;
}


.menu {
  font-size: 18px;
  background-color: #ccc;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu__item {
  border-bottom: 1px solid #ddd;
}

.menu__item a {
  color: white;
  display: block;
  padding: 8px 0;
}


/* ------------------------------------------------------------------------- */

/* This is based off an iPad, but it doesn't really matter. */
@media screen and (min-width: 767px) {
  .header__logo {
    float: none;
    margin: 0 auto 15px;
  }
  
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  header{
    border-bottom: 1px solid #ccc;
  }
  
  .header{
    float: left;
    border-bottom: none;
    width: 200px;
  }
  .header__logo {
    margin: 0 0 15px;
    width: 100%;
  }
  
  .menu {
    float: right;
    background: #fff;
    margin-right: 15px;
    position: relative;
    top: 34px;
    font-size: 22px;
  }
  
  .menu__item {
    float: left;
    margin-left: 15px;
    border-bottom: none;
  }
  
  .menu__item a {
    color: #999;
  }
}

/* --------------------------------- Body ------------------------------- */

.container {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: 200%;
  padding: 60px;
}

.intro h1 {
  width: 180px;
}

.intro p {
  width: 70%;
}

.content {
  margin-top: 60px;
  width: 250px;
}

.content--header {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 5px;
  margin: 0px;
  background-color: #054060;
}

.transition {
  position: relative;
  top: -3px;
  background: -webkit-linear-gradient(left, #f7c342 , #e15656); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f7c342, #e15656); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f7c342, #e15656); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f7c342, #e15656); /* Standard syntax (must be last) */
}

.content--image-box {
  position: relative;
}

.content--box {
  position: relative;
  padding: 15px;
  top: -3px;
  background-color: #ccc;
}

.content--box h3 {
  color: #054060;
}

.content--box p {
  color: #054060;
  font-weight: 400;
}

.overlay {
  position: absolute;
  left: 0;
  padding: 15px;
  background-color: #636363;
  opacity: .7;
}

.content--airplane--overlay {
  visibility: visible;
  height: 250px;
  top: -1px;
}

.content--blue-box {
  position: relative;
  top: -3px;
  background-color: #054060;
  text-align: center;
}

.content--hospital {
  top: -3px;
}

.content--hospital-overlay {
  top: 0px;
  height: 190px;
  padding-top: 30px;
}

