/*-----------------------------------------------------------------------------------
border-box formatting so padding/margin doesn't effect percentage widths
-----------------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/*-----------------------------------------------------------------------------------
utilities
-----------------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.hide {
  display: none;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 1020px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}

/*-----------------------------------------------------------------------------------
general styling
-----------------------------------------------------------------------------------*/
body {
  padding: 0px;
  margin: 0px;
  font-family: "arial";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*-----------------------------------------------------------------------------------
header
-----------------------------------------------------------------------------------*/
.header {
  padding: 0 15px 0px 15px; /* Abbreviated as 0 15px; */
}

.header__logo {
  float: left;
  
  /* Align its top-position with the hamburger (with its newly added border). */
  position: relative;
  top: 10px;
}

.header__logo img {
  width: 100%;

  /* This is around the width of the image on an iPhone 5. Don't let it go smaller than this. */
  min-width: 72px;
}

/*-----------------------------------------------------------------------------------
mobile menu
-----------------------------------------------------------------------------------*/
.hamburger {
  float: right;
  
  /* Creates enough height/space that the header is also well-spaced. */
  padding: 13px 0 8px 15px;
}


.menu{
  font-size: 18px;
  background-color: #ccc;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu__item {
  border-bottom: 1px solid #ddd;
}

.menu__item a{
  color: white;
  display: block;
  padding: 8px 0;
}


/* ------------------------------------------------------------------------- */

/* This is based off an iPad, but it doesn't really matter. */
@media screen and (min-width: 767px) {
  .header__logo {
    float: none;
    margin: 0 auto 15px;
  }
  
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  header{
    border-bottom: 1px solid #ccc;
  }
  
  .header{
    float: left;
    border-bottom: none;
    width: 200px;
  }
  .header__logo {
    margin: 0 0 15px;
    width: 100%;
  }
  
  .menu {
    float: right;
    background: #fff;
    margin-right: 15px;
    position: relative;
    top: 34px;
    font-size: 22px;
  }
  
  .menu__item {
    float: left;
    margin-left: 15px;
    border-bottom: none;
  }
  
  .menu__item a {
    color: #999;
  }
}

/* --------------------------------- Body ------------------------------- */

.body-container {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
}

